<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="superaitutor">
    <meta property="og:image" content="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico" name="og:image">
    <meta itemprop="image" content="https://superaitutor.vercel.app/public/logo1500.png">
    <meta property="og:site_name" content="superaitutor">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="superaitutor">
    <meta content="SuperAITutor is a next-generation educational 
    platform that reimagines how students, teachers, and parents 
    engage with learning. Designed to foster meaningful connections 
    and empower academic growth, it offers a personalized ecosystem 
    where students can access AI-powered doubt solving, career 
    guidance, exam preparation, and mentorship in one place." lang="en-us" name="description">
    <meta content="SuperAITutor, sait, ai tutor, super ai, chatbot teacher, progress track, project, JPEN, Ai Dictionary" lang="en-us" name="keywords">
    <title version="1.0">Congratulation - SuperAITutor</title>
    <meta name="author" content="Ai-Dictionary">
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico">
    <link rel="icon" href="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico" sizes="192x192">
    <link rel="alternate" type="application/rss+xml" title="SuperAITutor » Feed" href="https://superaitutor.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="SuperAITutor » Comments Feed" href="https://superaitutor.com/comments/feed/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/App.css"/>
</head>
<style>
    .account{
        width: 60%;
        margin: 10% auto;
        background: var(--lavender);
        padding: 10px 20px;
        text-align: center;
        border-radius: 10px;
        h3{
            text-transform: capitalize;
        }
        .flx{
            width: 60%;
            margin: 25px auto;
            color: slategray;
        }
        .btn-holder .btn{
            margin-top: 20px;
            margin-right: 10px;
        }
    }
    canvas{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        z-index: 90;
    }
    /* Mobile view */
    @media only screen and (max-width: 900px), only screen and (min-width: 900px) and (max-width: 1200px) {
        .account{
            width: 95%;
            .flx{
                width: 90%;
            }
        }
    }
</style>
<body>
    <%- header %>
    <main class="workspace" id="main">
        <section class="account">
            <h3>Congratulation, <span id="name"><%= name %></span></h3>
            <small class="text-muted">Your account on SAIT is created successfully with your given data</small>
            <div class="flx"><p>Your User Id: </p><p id="id"><%= id %></p></div>
            <div class="flx"><p>Your Email Id: </p><p id="email"><%= email %></p></div>
            <small>Don't share your creadintials information with any one on any condition, your user id and password is use to unlock your account.</small>
            <div class="btn-holder"><div class="btn btn-process" onclick="route('/login');">Continue with Login</div><div class="btn btn-outline-process" onclick="route('/docs?search=userid');">Learn about User ID</div></div>
        </section>
    </main>
    <canvas id="vanillaConfettiCanvas"></canvas>
    <%- tutorial %>
</body>
<script src="../static/App.js" nonce="<%= nonce %>"></script>
<% if (isHosted) { %>
    <script src="https://ai-dictionary.github.io/superaitutor/assets/scripts/accountCreated.js" nonce="<%= nonce %>"></script>
<% } else { %>
    <script src="../assets/scripts/accountCreated.js" nonce="<%= nonce %>"></script>
<% } %>
<script nonce="<%= nonce %>">
setTimeout(() => {
    generateConfetti({
        colorsArray: ["#D1FFA3", "#FFE161", "#CF86FF", "#DD1300", "#61DCC5", "rgba(215, 185, 255, 1)"],
        velocity: 0.025,
        quantity: 750,
        minSize: 4,
        maxSize: 12,
        minOpacity: 0.75,
        maxOpacity: 1,
        infiniteLoop: false
    }, "vanillaConfettiCanvas");
    downloadCredentials(document.getElementById('id').textContent, document.getElementById('name').textContent, document.getElementById('email').textContent);
}, 2500);
function downloadCredentials(id, name, email) {
    const data = {
        company: "SAIT",
        site: window.location.origin,
        user: {
            name,
            email,
            id,
            type: id.startsWith('AID')?'Student':id.startsWith('UID')?'Teacher':'Undefine'
        },
        time: new Date().getTime()
    };
    const jsonString = JSON.stringify(data, null, 2);
    const blob = new Blob([jsonString], { type: "application/json;charset=utf-8" });
    const url = URL.createObjectURL(blob);
    const link = document.createElement("a");
    link.href = url;
    link.download = "SAIT_Credentials.json";
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
    URL.revokeObjectURL(url);
}
</script>
</html>
