<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="superaitutor">
    <meta property="og:image" content="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico" name="og:image">
    <meta itemprop="image" content="https://superaitutor.vercel.app/public/logo1500.png">
    <meta property="og:site_name" content="superaitutor">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="superaitutor">
    <meta content="SuperAITutor is a next-generation educational 
    platform that reimagines how students, teachers, and parents 
    engage with learning. Designed to foster meaningful connections 
    and empower academic growth, it offers a personalized ecosystem 
    where students can access AI-powered doubt solving, career 
    guidance, exam preparation, and mentorship in one place." lang="en-us" name="description">
    <meta content="SuperAITutor, sait, ai tutor, super ai, chatbot teacher, progress track, project, JPEN, Ai Dictionary" lang="en-us" name="keywords">
    <title version="1.0">Login - SuperAITutor</title>
    <meta name="author" content="Ai-Dictionary">
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico">
    <link rel="icon" href="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico" sizes="192x192">
    <link rel="alternate" type="application/rss+xml" title="SuperAITutor » Feed" href="https://superaitutor.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="SuperAITutor » Comments Feed" href="https://superaitutor.com/comments/feed/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/App.css"/>
    <% if (isHosted) { %>
        <link rel="stylesheet" href="https://ai-dictionary.github.io/superaitutor/assets/styles/login.css"/>
    <% } else { %>
        <link rel="stylesheet" href="../assets/styles/login.css"/>
    <% } %>
</head>
<body>
    <%- header %>
    <main class="workspace flx">
        <section class="left-component">
            <div class="logo">
                <img src="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/logo1500.png" alt="superaitutor" title="SuperAITutor"/>
            </div>
            <div class="heading">Helping students<br> achieve the education<br> they deserve</div>
            <img src="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/assets/images/student_reading.png" alt="superaitutor" class="student_reading"/>
        </section>
        <section class="right-component">
            <div class="log-from">
                <h3>Welcome to Super AI Tutor</h3>
                <h5>Login to your account</h5>
                <div class="form-group mb-3">
                    <input type="email" class="form-control" id="useremail" placeholder="Enter User Id or Email Id" required/>
                </div>
                <div class="form-group mb-3">
                    <input type="password" class="form-control" id="userpassword" placeholder="Enter Password" required/>
                </div>
                <div class="form-group flx">
                    <div class="captcha">
                        <img src="" alt="captcha" title="This is for your security and verification" id="captcha-img"/>
                    </div>
                    <div class="btn btn-outline-process" id="captcha-btn"><i class="fa fa-refresh"></i> Refresh</div>
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="captcha-txt" placeholder="Enter Captcha" required/>
                </div>
                <div class="btn btn-process btn-lg btn-block" id="login">Login</div>
                <div class="helping flx"><span onclick="route('/signup');">Create Your Account</span><span onclick="route('/forgot_password');">Forgot Password</span></div>
                <div class="error"></div>
            </div>
        </section>
    </main>
    <%- tutorial %>
</body>
<script src="../static/App.js" nonce="<%= nonce %>"></script>
<script nonce="<%= nonce %>">
    window.captchaKey = "<%= key %>";
</script>
<script src="https://ai-dictionary.github.io/superaitutor/assets/scripts/captcha.js" nonce="<%= nonce %>"></script>
<script src="https://ai-dictionary.github.io/superaitutor/assets/scripts/login.js" nonce="<%= nonce %>"></script>
</html>
