<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="superaitutor">
    <meta property="og:image" content="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico" name="og:image">
    <meta itemprop="image" content="https://superaitutor.vercel.app/public/logo1500.png">
    <meta property="og:site_name" content="superaitutor">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="superaitutor">
    <meta content="SuperAITutor is a next-generation educational 
    platform that reimagines how students, teachers, and parents 
    engage with learning. Designed to foster meaningful connections 
    and empower academic growth, it offers a personalized ecosystem 
    where students can access AI-powered doubt solving, career 
    guidance, exam preparation, and mentorship in one place." lang="en-us" name="description">
    <meta content="SuperAITutor, sait, ai tutor, super ai, chatbot teacher, progress track, project, JPEN, Ai Dictionary" lang="en-us" name="keywords">
    <title version="1.0">SuperAITutor</title>
    <meta name="author" content="Ai-Dictionary">
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico">
    <link rel="icon" href="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico" sizes="192x192">
    <link rel="alternate" type="application/rss+xml" title="SuperAITutor » Feed" href="https://superaitutor.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="SuperAITutor » Comments Feed" href="https://superaitutor.com/comments/feed/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../public/App.css"/>
</head>
<style>
    body{
        overflow: hidden!important;
        background-image: url('https://ai-dictionary.github.io/superaitutor/assets/images/error-texture.png');
    }
    small{
        display: none;
        width: 70%;
        padding: 5px 10px;
        background: #fe6e6e8a;
        color: #fff;
        border: 2px solid red;
        border-radius: 5px;
        margin: 0px auto 24px auto;
    }
    #e404{
        height: 100vh;
        text-align: center;
        font-family: sans-serif;
        color: grey;
        overflow: hidden;
    }
    #e404 h1{
        font-weight: 600;
        color: #505050;
        font-size: 84px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
        cursor: pointer;
        span{
            font-size: 86px;
            background: linear-gradient(180deg, #6e4e9e 25%, #62468d 50%, #0c7cd5 75%, #0960a5 100%);
            color: #886ab5;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: none;
            font-family: Consolas;
        }
    }
    #e404 h2{
        color: #505050;
        font-size: 32px;
        font-weight: bolder;
        margin: 2px auto 24px auto;
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
        user-select: none;
    }
    #e404 h4{
        font-size: 20px;
        font-weight: 500px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
        margin: 0px auto 32px auto;
        text-transform: uppercase;
    }
    #e404 .l-img{
        filter: hue-rotate(45deg);
        transform: rotate(220deg);
        position: relative;
        top: -20%;
        right: -47%;
        user-select: none;
    }
    #e404 .r-img{
        filter: hue-rotate(45deg);
        transform: rotate(220deg);
        position: absolute;
        bottom: -80px;
        left: -100px;
        user-select: none;
    }
    @media only screen and (max-width: 900px), only screen and (min-width: 900px) and (max-width: 1200px){
        #e404{
            padding-top: 10%;
            h1{
                font-size: 42px;
                span{
                    font-size: 43px;
                }
            }
            h2{
                font-size: 16px;
            }
            h4{
                font-size: 12px;
            }
        }
    }
</style>
<body>
    <section class="workspace" id="e404">
        <img src="https://ai-dictionary.github.io/superaitutor/assets/images/shape1.png" class="l-img" alt="load"/>
        <img src="https://ai-dictionary.github.io/superaitutor/assets/images/shape1.png" class="r-img" alt="load"/>
        <h1>ERROR <span><%= error %></span></h1>
        <h2>Something <u>went</u> wrong!</h2>
        <h4><%= message %></h4>
        <small id="statement"><%= typeof statement !== 'undefined' ? statement : "" %></small>
        <div class="mt-4">
            <a href="javascript:void();" onclick="window.history.back(-1)" class="btn btn-outline-primary btn-round m-1 waves-effect waves-themed">Previous Page </a>
        </div>
    </section>
</body>
<script src="../public/App.js" nonce="<%= nonce %>"></script>
<script nonce="<%= nonce %>">
    setTimeout(()=>{
        if(document.getElementById('statement').textContent!=''){
            document.getElementById('statement').style.display = "block";
        }
    },1000);
</script>
</html>